section .parent {
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  border: 4px solid #51b0d4;
  margin-top: 5%;
  border-radius: 20px; }

.side1 {
  text-align: center; }

.header .nav {
  margin: 0 auto; }
.header .nav img {
  margin: auto auto; }
.header p {
  font-size: 13px; }
@media (min-width: 992px) and (max-width: 1200px) {
  .header h3 {
    font-size: 25px; } }

.login {
  margin-bottom: 33px; }
  .login p {
    font-size: 13px; }
  .login a {
    color: #167CC5; }
  .login input {
    margin-bottom: 10px;
    border-radius: 10px;
    height: 35px;
    width: 240px; }
  .login i {
    font-size: 24px; }
  .login .signup {
    width: 340px; }
  .login .input-field {
    width: 72%;
    background-color: #f0f0f0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
    margin: 17px auto; }
  .login .input-field i {
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
    margin-top: -3px;
    margin-left: 14px; }
  .login .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
    margin-top: 7px; }
  .login .sigin {
    background-color: #167CC5; }
  .login .sigin input {
    color: white;
    font-size: 0.9rem;
    margin-left: 74%; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .login .sigin input {
        margin-left: 38%; } }

.paragraph {
  border: 2px solid #167CC5;
  margin-top: -16px;
  width: 41px;
  height: 36px; }
  .paragraph p {
    margin-top: 3px; }

.or {
  background-color: #00000052;
  height: 2px;
  margin-top: 0px;
  width: 32%; }

.or2 {
  width: 32%;
  background-color: #00000052;
  height: 2px; }

.social {
  margin-top: 30px; }
  .social p {
    letter-spacing: 2px;
    font-size: 13px; }
  .social .social-media {
    display: flex;
    margin: 10px 22%;
    justify-content: center; }
  .social .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .social .social-icon {
        height: 39px; } }
  .social .face:hover {
    border: 1px solid #1873EB; }
    .social .face:hover .fa-facebook-f {
      color: #1873EB; }
  .social .twitter:hover {
    border: 1px solid #1C9CEA; }
    .social .twitter:hover .fa-twitter {
      color: #1C9CEA; }
  .social .instagram:hover {
    border: 1px solid #BE008D; }
    .social .instagram:hover .fa-instagram {
      color: #BE008D; }
  .social .google:hover {
    border: 1px solid #C44938; }
    .social .google:hover .fa-google-plus-g {
      color: #C44938; }

.side2 {
  background-size: cover;
  border-radius: 0px 15px 13px 0px; }
  .side2 .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.5;
    border-radius: 0px 15px 13px 0px; }
  .side2 img {
    position: relative;
    background-size: cover;
    width: 103%;
    height: 100%;
    border-radius: 0px 15px 13px 0px; }
  .side2 p {
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: 45%;
    text-align: center;
    width: 73%;
    margin-left: 92px; }
  .side2 i {
    position: absolute;
    width: 50px;
    z-index: 4;
    font-size: 54px;
    margin-top: 34%;
    color: honeydew;
    margin-left: 46%; }
  @media (min-width: 768px) and (max-width: 992px) {
    .side2 i {
      display: none; }
    .side2 p {
      display: none; } }

/*# sourceMappingURL=Style.css.map */
