body {
    background-color: #F3F2F1;

    p {
        font-size: 18px;
    }
}

.start-loading {
   
    position: absolute;
   margin-top:15%;
    margin-left: 50%;

    .circle1 {
        border: 1px solid #ffffff00;
        border-top: 2px solid #0c7205;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        animation: spin 1.4s linear infinite;
        position: absolute;
        left: -16px;
        top: -17px;
        right: 0;
        margin: 0 auto;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .circle2 {
        border: 2px solid #ffffff00;
        border-top: 2px solid #0d721a;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1.7s cubic-bezier(0, 0, 0.79, 0.79) infinite;
        position: absolute;
        left: -37px;
        top: -38px;
        right: 0;
        margin: 0 auto;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .circle3 {
        border: 1px solid #ffffff00;
        border-top: 2px solid #1f6e1a;
        border-radius: 67%;
        width: 160px;
        height: 160px;
        animation: spin 2s linear infinite;
        position: absolute;
        left: -57px;
        top: -56px;
        right: 0;
        margin: 0 auto;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }


    img {
        width: 38px;
        margin: auto;
        display: block;
    }
}

nav {
    background-color: white;
    padding: 35px;

    a {
        color: black;
        margin-left: 27px;
        text-decoration: none;
        font-size: 20px;

        @media(max-width:1014px) {
            margin-left: 15px;
        }
    }

    a:hover {
        border-bottom: 3px solid black;
        text-decoration: none;
        color: black;
    }




    .break-P {
        margin-left: 20px;
    }

    .break {
        background-color: #3e4040;
        width: 2px;
        height: 29px;
        position: absolute;
        margin-left: -14px;
    }

    .navlinks {
        @media(max-width:1125px) {
            .xbox-logo, .break {
                display: none;
            }
        }
    }
}
.title {
    padding: 51px;
    margin-left: 118px;
  
    h1{

    font-weight: 400;
    font-size: 36px;
    }
}
.content {
    h2 {
        margin-top: 19px;
        font-size: 30px;
    }

    .contact-image {
        background-color: rgb(249, 249, 249);

        img {
            float: right;
        }
    }

    .contact-info {
        .head-p {
            margin: 20px 0;
        }

        input {
            background-color: #107c10;
            border: none;
            padding: 11px 25px;
            color: white;
            font-weight: 400;
            font-size: 18px;
        }
    }

    .phone-support {
        p {
            margin-left: 20px;
        }
    }

    .email-support {
        margin-left: 50px;

        p {
            margin-left: 20px;
        }
    }
}
.Questions-sec {
    .questions {
        background-color: white;
        margin-top: 15px;
        margin-left: 30px;
        padding: 15px;
      
        -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.7);
        -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.7);
        box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.7);
     

        input {
            background-color: #107c10;
            border: none;
            padding: 11px 25px;
            color: white;
            font-weight: 400;
            font-size: 18px;
            margin-top: 45px;
        }

        a {
            margin-top: 70px;
            position: absolute;
            margin-left: 10px;
            color: #107c10;
            text-decoration: underline;
            
        }

        p {
            margin: 15px 0px;
        }

        img {
            width: 85%;
        }
        @media(min-width:992px) {
            a{
                margin-top:0px;
            }
        }
    }
}

//Start Notification Section
.notification-sec {
    margin-top: 60px;

    input {
        background-color: #107c10;
        border: none;
        padding: 11px 25px;
        color: white;
        font-weight: 400;
        font-size: 18px;
    }

    .side1 {
        img {
            width: 77px;
        }
    }

    .side2 {

        .notification {
            display: none;
        }

        .notification-hide {
            display: none;
        }

        #Less:disabled{
            background-color:dimgrey;

        }

        .resolve-box {
            background-color: white;
            position: absolute;
            right: 25px;
            top: -145px;
            padding: 18px 30px 15px 13px;
            box-shadow: 0px 2px 6px -3px;
            display: none;

            input {
                margin-left: 10px;
                font-size: 26px;
                padding: 0px;
                background-color: white;
                color: black;
                width: 100%;
                display: block;
                margin-bottom: 5px;

                &:hover {
                    background-color: #2a292926;
                }
            }
        }

    }

    .notification-side {
        padding: 26px 26px 23px 10px;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 6px -3px;
        position: relative;
        margin-bottom: 10px;
        display: flex;

        img {
            width: 23px;
            background-size: 100%;
            height: 25px;
            transform: rotate(90deg);
            position: absolute;
            right: 14px;
            top: 10px;
        }

        i {
            font-size: 37px;
            color: green;
            margin-left: 10px;
        }

        .side_color2 {
            position: absolute;
            height: 100%;
            width: 10px;
            left: 0;
            top: 0;
            background: rgb(117, 117, 117);
        }

        .side_color {
            position: absolute;
            height: 100%;
            width: 10px;
            left: 0;
            top: 0;
            background: rgb(255, 170, 68);
        }

        .icon {
            margin-top: 20px;
            margin-right: 25px;
            margin-left: 35px;

            p {
                margin-left: -6px;
            }
        }


        .notification-content {
            margin-left: 30px;



            .break {
                width: 2px;
                height: 67%;
                background-color: #545b628a;
                position: absolute;
                margin-left: -27px;
            }
        }
    }
}

//End Notification Section



//Start Feedback
.feedback-parent {
    margin-top: 40px;
    background-color: #F3F2F1;

    .feedback-child {
        background-color: white;
        box-shadow: 0px 2px 6px -3px;
        padding: 12px;
        text-align: center;

        input {
            background-color: #107c10;
            border: none;
            padding: 11px 25px;
            color: white;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

//End Feedback